.wrapper {
    max-height: 120px;
    display: flex;
    overflow-x: scroll;
}

.wrapper::-webkit-scroll {
    width: 10px;
    overflow-x: scroll;
}

.wrapper::-webkit-scrollbar {
    width: 10%;
}

.wrapper .item {
    min-width: 170px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    margin-right: 20px;
}

.wrapper .item_imagen {
    min-width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    margin-right: 20px;
}

.item_imagen {
    width: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.item {
    width: 90px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.item:hover {
    background-color: rgb(190, 190, 190);
}

#editarCategorias {
    border-radius: 50px;
}

#imagenEditar {
    position: relative;
    top: 5px;
    left: -10px;
}