.VentasYGastos { 
  background: #fff;
  border-radius: 19px;
  padding: 5px;
  font-size: 25px;
  text-align: center;
  transition: all 0.2s;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px;
  height: 19%;
}
.ventas{
  text-align: left;
}
.Fechas { 
  background: #fff;
  border-radius: 19px;
  padding: 10px;
  font-size: 25px;
  text-align: -moz-center;
  transition: all 0.2s;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px;
  height: 10%;
}
  
.lista-ventas {
  background: #fff;
  border-radius: 19px;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  transition: all 0.2s;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.ventas{
  display: inline;
  margin: 1%;
}

#linea{
  border: 3px solid black;
  height: 90%;
}

.por_fecha{
  display: -webkit-inline-box;
}

#cambiar_fecha{
  width: 100px;
  height: 30px;
  background-color: #f7545f;
  color: white;
  margin: 8px 0;
  border: none;
  border-radius: 9px;
  cursor: pointer;
}

#cambiar_fecha:hover{
  background-color: #f76872;
}

input[type=date] {
  height: 35px;
  margin: 0 auto;
  width: 135px;
  font-family: arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #959595;
  outline: none;
  border: 0;
  border-radius: 3px;
  padding: 0 3px;
  color: #fff;
}

#nueva_venta , #nueva_compra{
  color: white;
  padding: 14px;
  margin: 8px 20px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  position: fixed;
  width: 35%;
}

#nueva_venta{
  background-color: #4CAF50;
}

#nueva_compra{
  background-color: #af4c4c;
  margin-left: 40%;
}