.options { 
  background: white;
  color: black;
  border-radius: 19px;
  padding: 5px;
  font-size: 25px;
  text-align: center;
  transition: all 0.2s;
  margin-top: 40px;
  width: 100%;
  margin-bottom: 10px;
  height: 19%;
}

input[type="date"]{
  margin-left:15px;
}

.options input[type="radio"]{
    display: none;
}

.options label{
    padding: 5px 15px 5px 51px;
    display:inline-block;
    position: relative;
    border-radius: 3px;
    cursor:pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.options label:hover {
    background: rgba(0,0,0,.2);
}

.options label:before {
    content:"";
    width: 17px;
    height:17px;
    display:inline-block;
    background: none;
    border: 3px solid gray;
    position: absolute;
    left: 17px;
    margin-top:10px;
    border-radius: 3px;
}

.options input[type="radio"]:checked + label{
    padding:5px 15px;
    background: rgba(0,0,0,.2);
}

.options input[type="radio"]:checked + label:before{
    display:none;
}

.create button{
    font-size: 20px;
    background: #27bf2e;
    position: initial;
    width: 100%;
    margin-top:40px;
}

.create button:hover{
    background:#00b307;
}

.generated_report {
  background: white;
  width: 90%;
  color: black;
  text-align: center;
  height: 550px;
  border-radius: 15px;
  position:absolute;
  left:5%;
  top:5%;
  display:none;
}

.close_report {
  position:absolute;
  right: 10px;
  top: 6px;
  cursor:pointer;
}

.close_report a{
  text-decoration:none;
  color: black;
}

.charts {
  width:50%;
  margin:0 auto;
}

.download-buttons button{
  width:35%;
  top:5%;
  right:5%;
  position:initial;
  margin-right:10px;
  margin-left:20px;
}

.category-d select {
  width: 50%;
  height: 48px;
  padding:0;
  text-align: center;
}
