.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.6fr 1.8fr 0.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "VentasYGastos VentasYGastos"
      "Fechas Fechas"
      "ListaDeVentas ListaDeVentas"
      "NuevaVenta NuevaCompra";
  }
  
.VentasYGastos { grid-area: VentasYGastos; }
  
.Fechas { grid-area: Fechas; }
  
.ListaDeVentas { grid-area: ListaDeVentas; }
  
.NuevaVenta { grid-area: NuevaVenta; }
  
.NuevaCompra { grid-area: NuevaCompra; }
  